<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google AI for Developers MediaPipe Vision Demo</title>
    <!-- Get stylesheet from static route for index.html others use public -->
    <link rel="stylesheet" href="/public/css/main.css"> <!-- Consistent path for all pages -->
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
</head>
<body>
    <header>
        <h1>Google AI for Developers Computer Vision Demo</h1>
        <h2>Exploring MediaPipe Solutions</h2>
    </header>

    <nav>
        <!-- <ul>
            <li><a href="/hand_face_detection">Gesture & Face Detection</a></li>
            <li><a href="/pose_detection">Pose Detection</a></li>
            <li><a href="/image_segmentation">Image Segmentation</a></li>
            <li><a href="/full_detection">Full Face, Gesture, and Pose Detection</a></li>
        </ul> -->
        <a href="/hand_face_detection">Hand and Face Detection</a><br><br>
        <a href="/pose_detection">Pose Detection</a><br><br>
        <a href="/image_segmentation">Image Segmentation</a><br><br>
        <a href="/full_detection">Full Hand, Face, and Pose Detection</a>
    </nav>

    <footer id="footer">
        <p>Copyright &copy; 2024 Forrest Moulin. All rights reserved.<br>
           MediaPipe Solutions is developed by <a href="https://ai.google.dev/edge/mediapipe/solutions/guide">Google</a>.
        </p>
        <!-- <p>MediaPipe Solutions is developed by Google</p> -->
    </footer>
</body>
</html>
